.button {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border: none;
  padding: 9px 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 0.8125rem;
}

.button:hover {
  background-color: var(--primaryDark);
}

.button:active {
  background-color: var(--primaryTooDark);
  // transform: translateY(1px);
}

.buttonOutlined {
  @extend .button;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.buttonOutlined:hover {
  background-color: var(--primary);
  color: white;
}

// .buttonOutlined:active {
//   background-color: var(--background);
// }

.iconButton {
  @extend .button;
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  svg {
    width: 22px;
  }
}

.iconButtonOutlined {
  @extend .buttonOutlined;
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  svg {
    min-width: 22px;
  }
}

.buttonText {
  @extend .button;
  background-color: transparent;
  color: var(--primary);
  border: none;
}

.iconButtonText {
  @extend .iconButtonOutlined;
  border: none;
}

.iconButtonText:hover {
  background-color: var(--primaryLight);
}

.buttonText:hover {
  @extend .button;
  background-color: var(--primaryLight);
  color: var(--primary);
  border-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .buttonOutlined {
    color: var(--textPrimary);
    border-color: var(--textPrimary);
    &:hover {
      background-color: var(--textPrimary);
      color: var(--textOpposite);
    }
  }

  .buttonText {
    color: var(--textPrimary);
    &:hover {
      color: var(--textPrimary);
    }
  }
}

.iconButtonText:hover {
  background-color: var(--primaryLight);
  color: var(--textPrimary);
}
