:root {
  --primary: #ff5099;
  --primaryDark: #d94482;
  --primaryTooDark: #b9376d;

  --secondary: #ffffff;
  --background: #f8f8f8;
  --textPrimary: #213547;
  --textSecondary: #4d4d4d;
  --textOpposite: #ffffff;
  --baseBoxShadow: 0px 0px 20px 0px #ff5099;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ff5099;
    --primaryDark: #d94482;
    --primaryTooDark: #b9376d;

    --secondary: #282828;
    --background: #1f1f1f;
    --textPrimary: #ffffff;
    --textSecondary: #bcbcbc;
    --textOpposite: #000000;
  }
}
