:root {
  --primary: #8d50ff;
  --primaryDark: #7340d2;
  --primaryTooDark: #693bc0;
  --primaryLight: #f7f3ff;

  --themeColor: #ffffff;
  // --background: #8d50ff;
  --background: rgb(111, 67, 194);
  --background: rgb(247, 247, 247);
  --textPrimary: #213547;
  --textSecondary: #4d4d4d;
  --textOpposite: #ffffff;
  --baseBoxShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    // --primaryDark: #7340d2;
    // --primaryTooDark: #693bc0;
    // --primaryLight: #0c0513;
    --primary: #9f6bff;
    --primaryTooDark: #8c5fe0;
    --primaryLight: #7d55c8;

    --secondary: #0a080f;
    --themeColor: #151020;
    --background: #000000;
    --textPrimary: #ffffff;
    --textSecondary: #bcbcbc;
    --textOpposite: #000000;
    --baseBoxShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  }
}
