.root {
  // background-color: var(--secondary);
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 15px;
  height: calc(100vh - 90px);
}

.container {
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;

  .engine {
    background-color: var(--themeColor);
    padding: 30px;
    flex: 0 0 31%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin-bottom: 20px;
        font-size: 1.2rem;
        color: var(--primary);
      }

      .timer {
        font-size: 60px;
        margin: 0;
        margin-bottom: 10px;
      }

      .restTimer {
        font-size: 40px;
      }
    }
  }

  .title {
    font-weight: 600;

    span {
      color: var(--primary);
      font-size: 1.1rem;
    }
  }

  .actions {
    display: flex;
    justify-content: center;

    button {
      margin-right: 10px;
    }
  }
}

.center {
  flex: 0 0 31%;
  background-color: var(--themeColor);
  padding: 30px;
  border-radius: 20px;

  p {
    margin-bottom: 30px;
    font-weight: 600;
  }

  button {
  }
}

.modes {
  display: flex;
  flex-direction: column;

  .mode:last-child {
    margin-bottom: 0;
  }

  button {
    margin-top: 10px;
    padding: 10px;
    &:hover {
      padding: 10px;
    }
  }
}

.right {
  flex: 0 0 31%;
  background-color: var(--themeColor);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-weight: 600;
  }

  .rigthActions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .inputLabels {
      display: flex;
      justify-content: space-between;

      p {
        padding: 10px;
        text-align: center;
        color: var(--primary);
        font-size: 1.1rem;
        width: 85px;
      }
    }

    .inputs {
      display: flex;
      justify-content: space-between;

      .inputGroup {
        input {
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    input {
      padding: 10px;
      width: 40px;
      border-radius: 10px;
      padding-left: 12px;
      font-size: 1.1rem;
    }
  }
  button {
    padding: 10px;
  }
}

.stats {
  background-color: var(--themeColor);
  border-radius: 20px;
  margin-top: 30px;
  padding: 30px;

  padding-bottom: 40px;
  .title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: var(--primary);

    svg {
      width: 24px;
      margin-right: 10px;
    }
  }
  .statsList {
    display: flex;
    background-color: var(--secondary);
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
  }
  .statItem {
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      margin-right: 10px;
      color: var(--primary);
    }
  }
  span {
    font-size: 1.5rem;
    margin-left: 5px;
    color: var(--primary);
    font-weight: 500;
    text-decoration: underline;
  }
}

.play {
  margin-top: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 24px;
    margin-right: 5px;
  }
}

.popupElement {
  background-color: var(--themeColor) !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px !important;
  min-width: 0px !important;
  width: 370px;

  .confirmHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    svg {
      width: 26px;
      cursor: pointer;
      stroke: var(--textSecondary);

      &:hover {
        stroke: var(--primary);
      }
    }
  }
  .confirmTitle {
    font-size: 1.2rem;
    font-weight: 700;
    color: orange;
  }

  p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .popupActions {
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 1rem;
    }
  }
}
