.root {
  background-color: var(--secondary);

  .headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    button {
      margin-left: 10px;
      // border-radius: 30px;
    }
  }

  h1 {
    color: var(--textPrimary);
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    span {
      color: var(--primary);
    }
  }
}
