.root {
  background-color: var(--themeColor);

  .headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .rightSide {
      position: relative;
      display: flex;
      align-items: center;
      button {
        margin-left: 10px;
      }
    }
  }

  h1 {
    color: var(--textPrimary);
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    span {
      // color: var(--primary);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  h1 {
    &:hover {
      color: var(--primary);
    }
  }
  svg {
    width: 34px;
    margin-right: 7px;
    stroke: var(--primary);
  }
}
