.navigation {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: absolute;
  background-color: var(--themeColor);
  padding: 10px;
  border-radius: 10px;
  top: 50px;
  right: 3%;
  // box-shadow: var(--baseBoxShadow);
  border: 2px solid var(--primary);
}

a:last-child {
  .navigation__item {
    margin-bottom: 0;
  }
}

.navigation__item {
  padding: 8px 50px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  padding-left: 15px;

  &:hover {
    background-color: var(--primaryTooDark);
    color: white;
  }

  svg {
    width: 20px;
    margin-right: 8px;
  }
}

.active {
  background-color: var(--primary);
  color: white;
}
